$primary: #b4e718;
$green: #1ed661;

$primary-background: #242e05;
$green-background: rgba(4, 33, 15, 0.8);
$black-background: rgba(0, 0, 0, .5);

$muted: #666666;
$subtle: #a0a0a0;

@mixin tile {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "JetBrains Mono Nerd Font", monospace;
    background: $black-background;
}

@mixin connect-right {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin connect-left {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#waybar {
    background: transparent;
}

.module {
    @include tile;
}

#workspaces {
    background: transparent;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 0;
    padding: 0;

    button {
        padding: 0;

        &.active {
            @include tile;
            padding: 4px 6px;
            color: $primary;
            border: solid 2px $primary;
            font-weight: 900;
        }
    }
}

#network {
    background: $primary;
    color: rgba(4, 29, 38, 1);

    &.disconnected {
        color: rgba(4, 29, 38, 1);
        background: $muted;
    }
}

#mpris {
    color: $primary;
    background: $primary-background;

    &.spotify {
        color: $green;
        background: $green-background;
    }

    &.paused {
        color: silver;
        background: rgba(30, 30, 30, 0.8);
    }
}

#cpu,
#memory,
#temperature {
    color: $subtle;
}

#temperature.critical {
    color: #ff4444;
}

#disk {
    color: #c0c0c0;
}

#pulseaudio {
    color: #c0c0c0;

    &.muted {
        color: $muted;
    }
}

#privacy {
    @include tile;
    padding: 3px 6px 3px 10px;
}

#privacy-item {
    &.screenshare {
        color: #ff8800;
    }

    &.audio-in {
        color: #ff4444;
    }
}

#tray {
    > .passive {
        -gtk-icon-effect: dim;
    }

    > .needs-attention {
        -gtk-icon-effect: highlight;
    }
}

#custom-date {
    @include connect-right;
}

#clock {
    @include connect-left;
    color: $primary;
    font-weight: 900;
    background: $primary-background;
}

#custom-grouptabs {
    &.active {
        color: #888888;
    }

    &.empty {
        padding: 0;
        margin: 0;
    }

}

#waybar {
    &.empty #window {
        background-color: transparent;
    }

    &.spotify #window {
        background-color: $green-background;
        color: $green;
    }
}

#cava {
    color: $primary;
    background: $primary-background;
}
